// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


/*VARIABLES*/
:root {
--color-fundacion-principal: #63b8a7;
--color-fundacion-principal-dark: #264c5d;
--color-fundacion-segundario: #4686c8;
--color-fundacion-segundario-dark: #09427d;
--box-shadow-cards: 0px 1px 30px -2px rgba(0,0,0,0.2);
--box-shadow-element:0px 2px 15px -2px rgba(0,0,0,0.2),
                     0px 10px 13px -7px rgba(0,0,0,0.2);
}