// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


/*VARIABLES*/
:root {
--color-fundacion-principal: #63b8a7;
--color-fundacion-principal-dark: #264c5d;
--color-fundacion-segundario: #4686c8;
--color-fundacion-segundario-dark: #09427d;
--box-shadow-cards: 0 15px 40px 0 rgba(0, 0, 0, 0.08);
--box-shadow-element: 0 2rem 1.5rem -1.5rem rgba(33, 37, 41, 0.15),
    0 0 1.5rem 0.5rem rgba(33, 37, 41, 0.05);
}