// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    line-height: 1.6;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/*GLOBALES*/

h1 {
  font-size: 48px;
  text-shadow: 1px 2px 3px rgba(59, 57, 80, 0.2);
}

h2 {
  font-size: 32px;
  text-shadow: 1px 2px 3px rgba(59, 57, 80, 0.2);
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

ul,
li {
  list-style: none;
}

a {
  transition: all 0.4s;
}

a,
a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }
  
  p {
    font-size: 16px;
  }
}

/*UTILIDADES*/
.seccion{
  margin-bottom: 100px;
}
.imagen-responsive {
  display: inline-block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.button{
  width: max-content;
  font-size: 18px;
  color: #fff;
  border-radius: 50px;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;  
  background-color: var(--color-fundacion-principal-dark);
  transition: all .4s;
  padding-right: 5px;
  i{
    width: 32px;
    height: 32px;
    margin-left: 15px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff;
    color: var(--color-fundacion-principal-dark);
  }
  &:hover{
    
    box-shadow: var(--box-shadow-cards);
    color: #ffffff;
  }
}